  ---
  Hone Maven Plugin
  ---
  Yegor Bugayenko
  ---
  2024-08-09
  ---

Hone Maven Plugin

  This {{{http://github.com/objectionary/hone-maven-plugin}README}}
  documentation explains it in details.

  Use it like this:

+--
<build>
  <plugins>
    <plugin>
      <groupId>org.eolang</groupId>
      <artifactId>hone-maven-plugin</artifactId>
      <version>0.0.31</version>
      <executions>
        <execution>
          <phase>process-classes</phase>
          <goals>
            <goal>optimize</goal>
          </goals>
        </execution>
      </executions>
    </plugin>
  </plugins>
</build>
+--

  If any questions, submit a {{{http://github.com/objectionary/hone-maven-plugin/issues}GitHub issue}}.
