# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: docker
'on':
  push:
    branches:
      - master
    paths-ignore: [ 'README.md' ]
  pull_request:
    branches:
      - master
    paths-ignore: [ 'README.md' ]
jobs:
  docker:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: docker build src/main/resources/org/eolang/hone/scaffolding -t hone
