# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: make
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  make:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 23
      - run: |
          # sudo apt-get -y install libxml2-utils
          sudo curl -o /usr/local/bin/phino http://phino.objectionary.com/releases/macos-15/phino-latest
          sudo chmod +x /usr/local/bin/phino
      - run: make -C src/test/resources/org/eolang/hone/rules/streams
