# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: mvn
'on':
  push:
    branches:
      - master
    paths-ignore: [ 'README.md' ]
  pull_request:
    branches:
      - master
    paths-ignore: [ 'README.md' ]
jobs:
  mvn:
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
        java: [ 22 ]
    runs-on: ${{ matrix.os }}
    env:
      LC_ALL: C
      LANG: C
      LANGUAGE: C
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-jdk-${{ matrix.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-jdk-${{ matrix.java }}-maven-
      - run: mvn clean install --errors -Pqulice -Dinvoker.skip --batch-mode
      - run: mvn clean test -Pgradle
