# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: self
'on':
  push:
    branches:
      - master
    paths-ignore: [ 'README.md', '.github' ]
concurrency:
  group: self-${{ github.ref }}
  cancel-in-progress: true
jobs:
  self:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ubuntu-jdk-21-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ubuntu-jdk-21-maven-
      - run: mvn clean install -DskipTests -Dinvoker.skip --errors --batch-mode
      - run: mvn clean install -DskipTests -Dinvoker.skip -Pself -Dhone.rules=none --errors --batch-mode
      - run: |
          set -x
          sum=$(
            max=16
            printf "\`\`\`text\n"
            awk -F ',' '{ a[$1]+=$2; s+=$2; } END { for (k in a) printf("%s.xsl\t%s\t%0.2f%%\n", k, a[k], 100 * a[k] / s)}' target/xsl-measures.csv | sort -g -k 2 | tac | column -t | head "-${max}"
            printf "\`\`\`\n\n"
            echo "The results were calculated in [this GHA job][self-benchmark-gha],"
            echo "on $(date +'%Y-%m-%d') at $(date +'%H:%M'),"
            echo "on $(uname) with $(nproc --all) CPUs."
            echo "For the sake of brevity, we show only the first ${max} lines."
          )
          export sum
          perl -i -0777 -pe 's/(?<=<!-- self_benchmark_begin -->).*(?=<!-- self_benchmark_end -->)/\n$ENV{sum}\n/gs;' README.md
          url=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          export url
          perl -i -0777 -pe 's/(?<=\[self-benchmark-gha\]: )[^\n]+(?=\n)/$ENV{url}/gs;' README.md
      - uses: peter-evans/create-pull-request@v7
        with:
          branch: self-benchmark
          commit-message: 'new self benchmark results'
          delete-branch: true
          title: 'New self benchmarking results'
          assignees: yegor256
          base: master
