# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: self
'on':
  push:
    branches:
      - master
concurrency:
  group: self-${{ github.ref }}
  cancel-in-progress: true
jobs:
  self:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ubuntu-jdk-21-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ubuntu-jdk-21-maven-
      - run: mvn clean install -DskipTests -Dinvoker.skip --errors --batch-mode
      - run: mvn clean install -DskipTests -Dinvoker.skip -Pself -Dhone.rules=none --errors --batch-mode
