# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: site
'on':
  push:
    tags:
      - '*'
jobs:
  site:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: jdk-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: jdk-maven-
      - run: mvn clean site -Psite -Dinvoker.skip -DskipTests --errors --batch-mode
      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: target/site
          target-folder: ${{ github.ref_name }}
          clean: false
      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: target/site
          clean: false
